@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');


html {
  font-family: 'Helvetica Neue', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Darker Grotesque', sans-serif;
}

.Foundation {
  position: relative;
  width: 100%;
  height: 100%;
}

